

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.light {
  background-color: #ffffff;
  color: #000000;
}


.dark {
  background-color: #121212;
  color: #ffffff;
}
